<app-breadcrumb Department="前台設定" Line="木生產後護理之家設定" MethodName="認識木生"></app-breadcrumb>

<div class="container">
    <div class="mb-3 row">
        <label for="editTitle" class="col-sm-2 col-form-label">說明：</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" [(ngModel)]="data.title"></textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="editContent" class="col-sm-2 col-form-label">圖片：</label>
        <div class="col-sm-10">
            <file-upload (file)="loadExcelJson($event)"></file-upload>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2 text-end">
            <button type="button" class="btn btn-save mx-1" (click)="save()">保存</button>
        </div>
    </div>
</div>