/* app.component.css */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Show Modal */
  .show-modal {
    display: block;
  }
  

  .modal{
    --bs-modal-width: 80%;
  }
  
  /* td, th {
    border-style: solid;
    padding: 3px;
    border-width:1px;
  } */

  /* 在組件的CSS文件中 */
.list-item:nth-child(odd) {
  background-color: #f2f2f2; /* 灰色 */
}

.list-item:nth-child(even) {
  background-color: #e6e6e6; /* 淺灰色 */
}

.list-item:hover {
  cursor: pointer;
  background-color: yellow;
}