<app-breadcrumb Department="前台設定" Line="木生產後護理之家設定" MethodName="認識木生"></app-breadcrumb>

<div class="container">
    <div class="row mb-3">

    <div class="col">
        <label for="urgentTask" class="form-label">標題 :</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="col">
        <label for="fulfill" class="form-label">內容 :</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    </div>
    <div class="row mb-3">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary">搜尋</button>
           <button class="btn btn-primary" (click)="move('add')">新增</button>
        </div>
    </div>
    <h4></h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>內容</th>
                    <th>顯示順序</th>
                    <th>管理功能</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of articles">
                    <td>{{row.title}}</td>
                    <td>{{row.content}}</td>
                    <td>{{row.display_order}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="move(row.id)">編輯</button>
                        <button class="btn btn-danger btn-sm" (click)="remove(row.id)">刪除</button>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>